* {
   margin: 0;
}

body {
   background-color: rgb(241, 241, 241);
}

/* Container principal */
.app {
   display: flex;
   justify-content: space-evenly;
   padding: 20px;
}

/* Header */
.app__header {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   justify-content: space-between;
}

/* Container gauche */
.app__left {
   flex: 0.9;
}

/* Stats */
.app__stats {
   display: flex;
   justify-content: space-between;
}

/* Médias queries */
@media (max-width: 990px) {
   .app {
      flex-direction: column;
   }
}